<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="welcomeContainer">
        <h1> Books I've read </h1>
        <h2> On this page I will list all books that I have read together with my notes and rating about
            them. 
        </h2>
    </div>

    <div class="book-container">
        <% booksData.forEach(book => { %>
        <div class="image">
            <img class="resizable-image" src="<%= book.bookImage %>" alt="API Image">
        </div>
        <h2><%= book.bookTitle%> by <%=book.bookAuthor%></h2>

            <div class="ratings">
            <% for (let i=1; i <=book.bookRating; i++) { %>
                <img src="/images/star.png" alt="Image <%= i %>" class="star">
            <% } %>
            </div>

        <div class="text">
            <%= book.bookText %>
        </div>
        <% }); %>
    </div>

</body>
</html>