<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="icon" href="/images/book.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="welcomeContainer">
        <h1> Books I've read </h1>
        <h2> On this page I will list all books that I have read together with my notes and rating about
            them. 
        </h2>
    </div>

    <div class="button-container">
        <button class="create-btn" onclick="toggleForm()">Add New</button>
    </div>

    <div class="form-container">
        <form action="/addBook" method="post">
            <label for="title">Book Title:</label>
            <input type="text" id="title" name="title" required>
    
            <label for="author">Book Author:</label>
            <input type="text" id="author" name="author" required>
    
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="0" max="5" step="1" required>
    
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="5" required></textarea>
    
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" required>
    
            <button type="submit" class="create-btn">Submit</button>
            <button class="delete-btn" onclick="toggleForm()">Cancel</button>
        </form>
    </div>

    <div class="book-container">
        <% booksData.forEach(book => { %>
        <div class="image">
            <img class="resizable-image" src="<%= book.bookImage %>" alt="API Image">
        </div>
        <h2><%= book.bookTitle%> by <%=book.bookAuthor%>
            <div class="delete-form">
            <form action="/delete" method="post" class="delete-form">
                <input type="hidden" name="deleteBookTitle" value="<%= book.bookTitle %>">
                <button type="submit"><img src="/images/delete.png" class="delete-icon"></button>
            </form>
            </div>
        </h2>

        <div class="ratings">
        <% for (let i=1; i <=book.bookRating; i++) { %>
            <img src="/images/star.png" alt="Image <%= i %>" class="star">
        <% } %>
        </div>

        <div class="text">
            <%= book.bookText %>
        </div>
        <div class="emptySpace">
        
        </div>
        <% }); %>

    </div>

    <script>
        // Function to toggle the visibility of the form
        function toggleForm() {
            var formContainer = document.querySelector('.form-container');
            formContainer.style.display = (formContainer.style.display === 'none') ? 'flex' : 'none';
        }
    </script>

</body>
</html>